<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735181370079-2o9hkrul4lurtguq5oehakq4u8j5jlfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735181370079-2o9hkrul4lurtguq5oehakq4u8j5jlfn</string>
	<key>API_KEY</key>
	<string>AIzaSyBvUvp2I0TMgzxLaNhjbGGC1oVdznRA4HI</string>
	<key>GCM_SENDER_ID</key>
	<string>735181370079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poker.remotepoker</string>
	<key>PROJECT_ID</key>
	<string>scrumdinger-f80ab</string>
	<key>STORAGE_BUCKET</key>
	<string>scrumdinger-f80ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735181370079:ios:7cbe108bb7922a47c5ef6a</string>
</dict>
</plist>